body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-default {
    background-color: #000080;
    color: #fff;
}
.btn-default:hover {
    background-color: #4169e1;
    color: #fff;
}
.btn-default:focus, .btn-default.focus{
    background-color: #4169e1;
    color: #fff;
}

.btn-default:active{
    background-color: #4169e1;
    color: #fff;
}

.btn-default:active:focus{
    background-color: #4169e1;
    color: #fff;
}